<mat-card >
    <mat-card-title>Atualizar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço R$" type="number" [(ngModel)]="product.prace" name="prace">
        </mat-form-field>
    </form>
    <span class="btns">
        <button mat-raised-button (click)="updateProduct()" style="background-color: #3F51B5;">Salvar</button>
        <button mat-raised-button (click)="cancel()" style="background-color: lightgray;" >Cancelar</button>
    </span>
</mat-card>


